body, html {
margin: 5px;
font-family: "AvenirLTPro", sans-serif;
font-size: 12px;
background-color: #ffffff;
}

@font-face {
  font-family: "AvenirLTPro";
  src: url(fonts/AvenirLTPro-Roman.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirLTPro-bold";
  src: url(fonts/AvenirLTPro-Black.ttf) format("truetype");
  font-weight: 400;
}
b {
  font-family: "AvenirLTPro-bold", sans-serif;
}
#buttons {
  display: block;
  width: 100%;
  min-height: 30px;
  margin-top: 15px;
}

#notes {
  font-size: 11px;
  opacity: 0;
  width: 97%;
  margin-top: 10px;
}

g.y-axis, g.x-axis {
  font-size: 12px;
}

.greyed {
  color: #fff;
  background-color: #000 !important;
  pointer-events: none; 
  cursor: default;
  opacity: .2;
}

.x-axis .tick text.remove {
  opacity: 0;
}

#page-nav {
  display: inline-block;
  float: left;
  padding: 0 5px;
  font: 14px Lato;
  margin-top: 3px;
  color: #696969;

}
.button {
    color: #ffffff;
    background-color: #174a7c;
    display: inline-block;
    width: 20px;
    padding: 3px;
    cursor: pointer;
    font: 14px Lato;
    font-weight: 900;
    float: left;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    pointer-events: visible;
}

.synthetic-label text {
  fill: #000;
  font-weight: 600;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
  pointer-events: none;
  cursor: none;
}
.actual-label text {
  fill: #000;
  font-weight: 600;
}

g.y-axis .domain {
  stroke: none;
}
g.tick text {
  font-weight: 550;
}

g.grid .tick line {
  stroke: #dedddd;
}

g.grid path.domain {
  stroke: none;
}

.y-axis g.tick line {
  stroke: none;
}

.step-text {
  font-size: 12px;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  margin: 5px 0;
}

.y-axis-label {
  font-style: italic;
  font-size: 12px;
}
  #description-actual {
    display: none;
  }
  #description-synthetic {
    display: none;
  }
  #isPhone{
    display: none;
  }
  #isMobile{
    display: none;
  }
@media screen and (max-width: 768px) {


}
@media screen and (max-width: 500px) {
  #isPhone{
    display: block;
  }
  #description-actual {
    display: block;
  }
  #description-synthetic {
    display: block;
  }
  g.y-axis, g.x-axis {
    font-size:11px;
  }
  .step-text {
    font-size: 11px;
  }
  .title {
    font-size: 16px;
  }
}
